@charset "utf-8";
/* CSS Document */
html, body, input, button, body.custom-font-enabled{
	font-family: 'Open Sans', serif;
}
.dspdp-search-box{
	padding:20px 20px 10px;
	color:#fff;
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	z-index:101;
	opacity:0.9;
}
.dspdp-featured:hover .dspdp-search-box{
	opacity:1;
}

.dspdp-search-box .dspdp-form-control{
	border-color:#FFF;
	box-shadow:none;
}
.dspdp-search-title-img{
	box-shadow:none !important;
}
img.dspdp-banner-img{
	height:auto;
	margin:0;
	box-shadow:none;
	border-radius:0;
	height:auto;
	width:100%;
	max-width:none;
}
li.sy-slide{
	text-align:right;
	margin:0;
	padding:0;

}

.dspdp-slider{
	
}
@media (max-width:767px){
	.dspdp-search-box{
		position:static;
		padding:20px 15px 10px;
	}
}
.dspdp-featured{
	position:relative;
	margin-bottom:30px;
}

.dspdp-box{
	border:1px solid #efefef;
	padding:20px;
	box-shadow:0 1px 2px rgba(0,0,0,0.1);
}
input.dspdp-search-submit{
	background-color:#FFF;
	color:#000;
	font-weight:bold;
}
input.dspdp-search-submit:hover{
	background:#EEE;
	color:#000;
}

.dspdp-heading-text{
	font-size:1.4em;
	margin-bottom:1.5em;
	background:none transparent;
	position:relative;
	font-weight:300;
}
.dspdp-heading-text:after{
	content:'';
	width:100%;
	position:absolute;
	top:39px;
	border-bottom:1px solid #EEE;
}

.heading-text{
	position:relative;
	z-index:2;
	height:1px;
	max-width:50px;
	margin:14px 0 0;
}
ul.sy-pager{
	width:100%;
	text-align:center;
	margin:10px 0;
}
input[type=submit].dspdp-btn.dspdp-btn-sm{
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}
.dspdp-box-title{
	margin-bottom:0.5em;
}