@charset "utf-8";
/* CSS Document */
.dspdp-search-box{
	padding:20px;
	color:#FFF;
	position:absolute;
	left:0;
	top:0;
	z-index:999;
}
@media (max-width:767px){
.dspdp-search-box{
	position:static;
	background-color:#78BC42;
	margin-bottom:20px;
}
}

.dspdp-search-box .dspdp-form-control{
	border-color:#FFF;
	box-shadow:none;
}
.dspdp-search-title-img{
	box-shadow:none !important;
}
img.dspdp-banner-img{
	width:100%;
	height:auto;
	margin:0;
	display:block;
	box-shadow:none;
	border-radius:0;
}
.dspdp-featured{
	position:relative;
	margin-bottom:30px;
	background-color:#78BC42;
}
.dspdp-slider{
	max-height:460px;
	overflow:hidden;
	margin-bottom:30px;
}
.dspdp-box{
	border:1px solid #efefef;
	padding:20px;
	box-shadow:0 1px 2px rgba(0,0,0,0.1);
}
input.dspdp-search-submit{
	background-color:#555;
	color:#FFF;
}

.heading-text{
	display:inline-block;
	height:22px;
	width:5px;
	margin:10px auto 20px;
}
.dspdp-form-horizontal .dspdp-control-label { text-align: left;}
.members-slider .dspdp-h4 span.heading-text { margin-right: 7px;}